<!DOCTYPE html>
<html>
<head>
  <title>UJ Voter Registration</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="content">
		<div class="page_header">
			<h1 class="page_header">UJ Voter Registration</h1>
		</div>
		
		<br/>
		
		<%= yield %>		
		<div class="push"></div>
	</div>
	
	<div class="footer">
		<table class="noborder">
			<tr>
				<td width="50%" class="noborder">
					JACOBS, R. 201145773. Copyright (c) 2012
				</td>
				<td align="right" class="noborder">Github: <a href="https://github.com/itsmeryno/wwwprogramming_assignment4" target="_blank">https://github.com/itsmeryno/wwwprogramming_assignment4</a></td>
			</tr>
		</table>
	</div>

</body>
</html>
